.content {
    font-size: 16px;
    font-family: Lobster;
    color: #111;
    line-height: 24px;
}

.box {
    width: 500px;
    height: 500px;
    background-color: #ebebeb;
    padding: 50px 60px;
    border-radius: 5px;
}

* {
    box-sizing: border-box;
}
